<!DOCTYPE html>
<html>
  <head>
    <style>
      .forms {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
      
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Student Management System</title>
  </head>
  <body>
    <div class="container">
        <h1>Welcome to the Student Management System</h1>
        <p>This is the home page for the student management system.</p>
    </div>
    <div class="forms">
        <form>
            <h2>User Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br><br>
            <input type="submit" value="SubmitLogin" onclick="validateForm()">
        </form>
        <form>
            <h2>User Register</h2>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <br><br>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone">
            <br><br>
            <label for="usernameR">Username:</label>
            <input type="text" id="usernameR" name="usernameR">
            <br><br>
            <label for="passwordR">Password:</label>
            <input type="password" id="passwordR" name="passwordR">
            <br><br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password">
            <br><br>
            <input type="submit" value="SubmitSign" onclick="signForm()">
        </form>
    </div>

  </body>
  <script>
    function validateForm() {

      let username = document.getElementById("username").value;
      let password = document.getElementById("password").value;
    
      if (username == "" || password == "") {
          alert("Both username and password fields must be filled out");
          return false;
      }

      const userInfo = {username, password};
      alert("Login");
      const request = new XMLHttpRequest()
      request.open('POST', `/ProcessUserInfo/${JSON.stringify(userInfo)}`)
      request.send()

      return true;
    };

    function signForm() {

      let email = document.getElementById("email").value;
      let phone = document.getElementById("phone").value;
      let usernameR = document.getElementById("usernameR").value;
      let passwordR = document.getElementById("passwordR").value;
      let confirmPassword = document.getElementById("confirm_password").value;
      if (passwordR == confirmPassword) {
        if (passwordR.length < 8) {
          alert("Password must be at least 8 characters long");
          return false;
        };
      }
      else if (passwordR =! confirmPassword) {
        alert("Password must be the same");
        return false;
      };

      const signInfo = {email, phone, usernameR, passwordR};
      alert("Sign In");
      const request = new XMLHttpRequest()
      request.open('POST', `/RegisterUserInfo/${JSON.stringify(signInfo)}`)
      request.send()

      return true;

    };
  </script>
</html>